target/
*.class
*.log
.idea/
*.iml
.vscode/
.settings
.project
.classpath
gen
target
bin
project.properties
output.log
gwt-unitCache/
widgetsets/
tmp
*.zip
*/tests/*
*.log
*.deb
*.*~
*.lyx#
*.orig
*.log*
*.releaseBackup
release.properties
/.idea/
*.iml
Books
.editorconfig
/.aicontext/
/.serena/
